{% for message in get_flashed_messages() %}
  <p style="color: red;">{{ message }}</p>
{% endfor %}

<form method="POST">
    Name: <input id="name" name="username" type="text"><br/>
    Email: <input id="email" name="email" type="email"><br/>
    Message: <textarea id="textarea" name="message"></textarea><br/>
    Duration: <input id="duration" name="duration" placeholder="Enter duration as a number. for example: 3" type="text"><br/>
   <select name="duration_unit">
      <option value="" disabled selected>Choose the duration</option>
      <option value="M">Minutes</option>
      <option value="H">Hours</option>
      <option value="D">Days</option>
   </select><br/>

   <button type="submit" name="action">Submit</button>
</form>